In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
#school_data_complete
#school_data
#student_data

In [2]:
#Calculate the total number of schools
count_schools=school_data["school_name"].nunique()

#Calculate the total number of students
count_students=student_data["Student ID"].nunique()

#Calculate the total budget
total_budget=school_data["budget"].sum()

#Calculate the average math score
avg_math_score=school_data_complete["math_score"].mean()

#Calculate the average reading score
avg_reading_score=school_data_complete["reading_score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
percent_pass_math=((student_data.loc[(student_data['math_score']>=70)]['Student ID'].count())/count_students)*100

#Calculate the percentage of students with a passing reading score (70 or greater)
percent_pass_reading=((student_data.loc[(student_data['reading_score']>=70)]['Student ID'].count())/count_students)*100

#Calculate the percentage of students who passed math and reading (% Overall Passing)
percent_pass_all=((student_data.loc[(student_data['reading_score']>=70) & (student_data['math_score']>=70)]['Student ID'].count())/count_students)*100

#Create a dataframe to hold the above results
District_Summary_df=pd.DataFrame({"Total Schools":[count_schools]
                      ,"Total Students":[count_students]
                      ,"Total Budget":[total_budget]
                      ,"Average Math Score":[avg_math_score]
                      ,"Average Reading Score":[avg_reading_score]
                      ,"% Passing Math":[percent_pass_math]
                      ,"% Passing Reading":[percent_pass_reading]
                      ,"% Overall Passing":[percent_pass_all]
                     })


#Optional: give the displayed data cleaner formatting

District_Summary_df.style.format({"Total Students":'{:,}'
                                 ,"Total Budget":'${:,.2f}'
                                 ,"Average Math Score":'{:,.2f}'
                                 ,"Average Reading Score":'{:,.2f}'
                                 ,"% Passing Math":'{:,.2f}%'
                                 ,"% Passing Reading":'{:,.2f}%'
                                 ,"% Overall Passing":'{:,.2f}%'
                                 })

In [3]:
#Create an overview table that summarizes key metrics about each school:
#group by School Name
school_group_df=school_data_complete.set_index('school_name').groupby(["school_name"])

#School Type 
school_type=school_data.set_index('school_name')["type"]

#Total Students
total_students=school_group_df["Student ID"].nunique()

#Total School Budget
school_budget=school_data.set_index('school_name')["budget"]

#Per Student Budget
student_budget=school_data.set_index('school_name')["budget"]/school_data.set_index('school_name')["size"]

#Average Math Score
avg_math_score=school_group_df["math_score"].mean()

#Average Reading Score
avg_reading_score=school_group_df["reading_score"].mean()

#% Passing Math
per_pass_math=((student_data.loc[(student_data['math_score']>=70)].groupby("school_name")['Student ID'].count())/total_students)*100

#% Passing Reading
per_pass_reading=((student_data.loc[(student_data['reading_score']>=70)].groupby("school_name")['Student ID'].count())/total_students)*100

#% Overall Passing (The percentage of students that passed math and reading.)
per_pass_all=((student_data.loc[(student_data['reading_score']>=70) & (student_data['math_score']>=70)].groupby("school_name")['Student ID'].count())/total_students)*100

#Create a dataframe to hold the above results
School_Summary_df=pd.DataFrame({"School Type":school_type
                                ,"Total Students":total_students
                                ,"Total School Budget":school_budget
                                ,"Per Student Budget":student_budget
                                ,"Average Math Score":avg_math_score
                                ,"Average Reading Score":avg_reading_score
                                ,"% Passing Math":per_pass_math
                                ,"% Passing Reading":per_pass_reading
                                ,"% Overall Passing":per_pass_all
                                })


#formatting
School_Summary_df.style.format({"Total School Budget":'${:,.2f}'
                               ,"Per Student Budget":'${:,.2f}'
                               ,"Average Math Score":'{:,.2f}'
                               ,"Average Reading Score":'{:,.2f}'
                               ,"% Passing Math":'{:,.2f}%'
                               ,"% Passing Reading":'{:,.2f}%'
                               ,"% Overall Passing":'{:,.2f}%'
                               })

In [4]:
#Sort and display the top five performing schools by % overall passing
top_5_schools_df=School_Summary_df.sort_values("% Overall Passing",ascending=False)

#formatting
top_5_schools_df.head().style.format({"Total School Budget":'${:,.2f}'
                                     ,"Per Student Budget":'${:,.2f}'
                                     ,"Average Math Score":'{:,.2f}'
                                     ,"Average Reading Score":'{:,.2f}'
                                     ,"% Passing Math":'{:,.2f}%'
                                     ,"% Passing Reading":'{:,.2f}%'
                                     ,"% Overall Passing":'{:,.2f}%'
                                     })

In [5]:
#Sort and display the five worst-performing schools by % overall passing
bottom_5_schools_df=School_Summary_df.sort_values("% Overall Passing",ascending=True)

#formatting
bottom_5_schools_df.head().style.format({"Total School Budget":'${:,.2f}'
                                        ,"Per Student Budget":'${:,.2f}'
                                        ,"Average Math Score":'{:,.2f}'
                                        ,"Average Reading Score":'{:,.2f}'
                                        ,"% Passing Math":'{:,.2f}%'
                                        ,"% Passing Reading":'{:,.2f}%'
                                        ,"% Overall Passing":'{:,.2f}%'
                                        })

In [6]:
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.
#Group each series by school
ninth_math_avg = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math_avg = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math_avg = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math_avg = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

#Combine the series into a dataframe
Math_Scores_by_Grade_df=pd.DataFrame({"9th":ninth_math_avg
                                     ,"10th":tenth_math_avg
                                     ,"11th":eleventh_math_avg
                                     ,"12th":twelfth_math_avg 
})

#Optional: give the displayed data cleaner formatting
Math_Scores_by_Grade_df.style.format({"9th": '{:.2f}', 
                                      "10th": '{:.2f}', 
                                      "11th": "{:.2f}", 
                                      "12th": "{:.2f}"})

In [7]:
#Create a table that lists the average reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.
#Group each series by school
ninth_reading_avg = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading_avg = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading_avg = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading_avg = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

#Combine the series into a dataframe
reading_Scores_by_Grade_df=pd.DataFrame({"9th":ninth_reading_avg
                                        ,"10th":tenth_reading_avg
                                        ,"11th":eleventh_reading_avg
                                        ,"12th":twelfth_reading_avg 
                                        })

#Optional: give the displayed data cleaner formatting
reading_Scores_by_Grade_df.style.format({"9th": '{:.2f}', 
                                         "10th": '{:.2f}', 
                                         "11th": "{:.2f}", 
                                         "12th": "{:.2f}"})

In [8]:
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#find max budget to set max bin limit
budget_max=max(school_data_complete['budget']/school_data_complete['size'])+1

budget_bins = [0, 584.99, 629.99, 644.99, budget_max]
budget_labels = ['<$585', "$585-629", "$630-644", "$645-675"]
school_data_complete['Spending Ranges (Per Student)'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], budget_bins, labels = budget_labels)

#group by bins
spending_groups_df=school_data_complete.groupby('Spending Ranges (Per Student)')

#total student counts by bin range
totStudents=spending_groups_df["Student ID"].count()

#Average Math Score
avg_math_score=spending_groups_df['math_score'].mean()

#Average Reading Score
avg_reading_score=spending_groups_df['reading_score'].mean()

#% Passing Math
percentage_math=((school_data_complete.loc[(school_data_complete['math_score']>=70)].groupby("Spending Ranges (Per Student)")['Student ID'].count())/totStudents)*100

#% Passing Reading
percentage_reading=((school_data_complete.loc[(school_data_complete['reading_score']>=70)].groupby("Spending Ranges (Per Student)")['Student ID'].count())/totStudents)*100


#Overall Passing Rate 
percentage_overall_pass=((school_data_complete.loc[(school_data_complete['reading_score']>=70) 
                        & (school_data_complete['math_score']>=70)].groupby("Spending Ranges (Per Student)")['Student ID'].count())/totStudents)*100

Scores_by_School_Spending_df = pd.DataFrame({
                                            "Average Math Score": avg_math_score,
                                            "Average Reading Score": avg_reading_score,
                                            '% Passing Math': percentage_math,
                                            '% Passing Reading': percentage_reading,
                                            "% Overall Passing": percentage_overall_pass
                                            })
#formatting
Scores_by_School_Spending_df.style.format({"Average Math Score":'{:,.2f}'
                                          ,"Average Reading Score":'{:,.2f}'
                                          ,"% Passing Math":'{:,.2f}%'
                                          ,"% Passing Reading":'{:,.2f}%'
                                          ,"% Overall Passing":'{:,.2f}%'
                                         })

In [9]:
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#find max size of bin
size_max=max(school_data_complete['size'])+1

size_bins = [0, 999, 1999, size_max]
size_labels = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']
school_data_complete['School Size'] = pd.cut(school_data_complete['size'], size_bins, labels = size_labels)

school_size_groups_df=school_data_complete.groupby("School Size")
tot_Students=school_size_groups_df["Student ID"].nunique()

#Average Math Score
avg_math_score1=school_size_groups_df['math_score'].mean()

#Average Reading Score
avg_reading_score1=school_size_groups_df['reading_score'].mean()

#% Passing Math
percentage_math1=((school_data_complete.loc[(school_data_complete['math_score']>=70)].groupby("School Size")['Student ID'].count())/tot_Students)*100

#% Passing Reading
percentage_reading1=((school_data_complete.loc[(school_data_complete['reading_score']>=70)].groupby("School Size")['Student ID'].count())/tot_Students)*100


#Overall Passing Rate 
percentage_overall_pass1=((school_data_complete.loc[(school_data_complete['reading_score']>=70) 
                                                    & (school_data_complete['math_score']>=70)].groupby("School Size")['Student ID'].count())/tot_Students)*100

Scores_by_School_Size_df = pd.DataFrame({
                                            "Average Math Score": avg_math_score1,
                                            "Average Reading Score": avg_reading_score1,
                                            '% Passing Math': percentage_math1,
                                            '% Passing Reading': percentage_reading1,
                                            "% Overall Passing": percentage_overall_pass1
                                            })
#formatting
Scores_by_School_Size_df.style.format({"Average Math Score":'{:,.2f}'
                                      ,"Average Reading Score":'{:,.2f}'
                                      ,"% Passing Math":'{:,.2f}%'
                                      ,"% Passing Reading":'{:,.2f}%'
                                      ,"% Overall Passing":'{:,.2f}%'
                                      })

In [10]:
#Create a table that breaks down school performances based on School Type. Use 4 reasonable bins to group school spending. Include in the table each of the following:
school_type_groups_df=school_data_complete.groupby("type")
tot_Students1=school_type_groups_df["Student ID"].nunique()

#Average Math Score
avg_math_score2=school_type_groups_df['math_score'].mean()

#Average Reading Score
avg_reading_score2=school_type_groups_df['reading_score'].mean()

#% Passing Math
percentage_math2=((school_data_complete.loc[(school_data_complete['math_score']>=70)].groupby("type")['Student ID'].count())/tot_Students1)*100

#% Passing Reading
percentage_reading2=((school_data_complete.loc[(school_data_complete['reading_score']>=70)].groupby("type")['Student ID'].count())/tot_Students1)*100


#Overall Passing Rate 
percentage_overall_pass2=((school_data_complete.loc[(school_data_complete['reading_score']>=70) 
                                                    & (school_data_complete['math_score']>=70)].groupby("type")['Student ID'].count())/tot_Students1)*100

Scores_by_School_Type_df = pd.DataFrame({
                                            "Average Math Score": avg_math_score2,
                                            "Average Reading Score": avg_reading_score2,
                                            '% Passing Math': percentage_math2,
                                            '% Passing Reading': percentage_reading2,
                                            "% Overall Passing": percentage_overall_pass2
                                            })

Scores_by_School_Type_df.index.name = "School Type"

#formatting
Scores_by_School_Type_df.style.format({"Average Math Score":'{:,.2f}'
                                      ,"Average Reading Score":'{:,.2f}'
                                      ,"% Passing Math":'{:,.2f}%'
                                      ,"% Passing Reading":'{:,.2f}%'
                                      ,"% Overall Passing":'{:,.2f}%'
                                      })